<p id="notice"><%= notice %></p>

<h1>Reminders</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Description</th>
      <th>Type</th>
      <th>Remind At</th>
      <th></th>
      <th></th>

    </tr>
  </thead>

  <tbody>
    <% @reminders.each do |reminder| %>
      <tr>
        <td><%= reminder.description %></td>
        <td><%= reminder.kind %></td>
        <td><%= reminder.remind_at %></td>
        <td><%= link_to 'Show', reminder %></td>
        <td><%= link_to 'Destroy', reminder, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Reminder', new_reminder_path %>
