<p id="notice"><%= notice %></p>


  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Bank</th>
        <th>Description</th>
        <th>Currency</th>
        <th>Amount</th>
        <th>Balance</th>
        <th>Source</th>
        <th>Transacted at</th>

      </tr>
    </thead>

    <tbody>
      <% @transactions.each do |transaction| %>
        <tr>
          <%= link_to transaction do %>
            <td><%= transaction.bank_account.name %></td>
            <td><%= transaction.description %></td>
            <td><%= transaction.currency %></td>
            <td><%= transaction.amount %></td>
            <td><%= transaction.balance %></td>
            <td><%= transaction.source %></td>
            <td><%= transaction.transacted_at %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

<!-- </div> -->
